# Preprocesado de datos
## Autor: Juan Carlos Alonso Valenzuela
En este notebook se preprocesarán los datos extraídos de la API de Twitter para expresarlos en un formato que pueda ser leído como un grafo.

In [1]:
import pandas as pd
import re
from ast import literal_eval

# Carga de datos

Comenzamos leyendo los archivos

In [2]:
# Neutral
realMadridEspanyol = pd.read_csv('dataset/RealMadridEspanyol.csv')
# Madrid
CAMPEON35 = pd.read_csv('dataset/CAMPEON35.csv')
RMFans = pd.read_csv('dataset/RMFans.csv')
# Espanyol
RCDE = pd.read_csv('dataset/RCDE.csv')
planterRCDE = pd.read_csv('dataset/planterRCDE.csv')

Unimos todos los DataFrames en una sola variable

In [3]:
df = pd.concat([realMadridEspanyol,CAMPEON35,RMFans,RCDE,planterRCDE])
# Shuffle data
df = df.sample(frac=1.)

# Drop Unnamed column
df = df.drop(columns='Unnamed: 0')

# Reset index
df = df.reset_index(drop=True)

In [4]:
df.head()

,username,tweet_content,n_favorites,timestamp,mentions
0,JorgeAHB19,RT @rnmjtv2: Marcelo le pone la bufanda a la d...,0,Sat Apr 30 23:59:58 +0000 2022,['rnmjtv2']
1,Davvonx,RT @realmadrid: #RMFans x Cibeles x #CAMPEON35...,0,Sat Apr 30 23:59:52 +0000 2022,['realmadrid']
2,luisfwbiano,RT @realmadrid: #RMFans x Cibeles x #CAMPEON35...,0,Sat Apr 30 23:59:59 +0000 2022,['realmadrid']
3,wantan_ver2,RT @realmadrid: #RMFans x Cibeles x #CAMPEON35...,0,Sat Apr 30 23:59:56 +0000 2022,['realmadrid']
4,sergihio199,RT @RCDEFutbolBase: 20' | 2-1 | Gol de la SD E...,0,Sat Apr 30 16:53:35 +0000 2022,['RCDEFutbolBase']

# Añadir columna "retweet"
Si el tweet es un retweet, esta columna contendrá el nombre del usuario que publicó el tweet original

Un tweet es un retweet si comienza con los caracteres "RT @" seguidos del nombre el usuario al que se está retweeteando.

In [5]:
tweet_content_values = df['tweet_content'].values.tolist()
rt_column = []

for tweet in tweet_content_values:
    rt_regex = re.compile(r"^RT\s@.[^\s]+(?::)")
    
    if rt_regex.match(tweet):
        # The tweet is a retweet
        retweet_from = tweet.split(":")[0][4:]
        rt_column.append(retweet_from)
    else:
        # The tweet is not a retweet
        rt_column.append(None)

df['retweet'] = rt_column

In [6]:
df.head()

,username,tweet_content,n_favorites,timestamp,mentions,retweet
0,JorgeAHB19,RT @rnmjtv2: Marcelo le pone la bufanda a la d...,0,Sat Apr 30 23:59:58 +0000 2022,['rnmjtv2'],rnmjtv2
1,Davvonx,RT @realmadrid: #RMFans x Cibeles x #CAMPEON35...,0,Sat Apr 30 23:59:52 +0000 2022,['realmadrid'],realmadrid
2,luisfwbiano,RT @realmadrid: #RMFans x Cibeles x #CAMPEON35...,0,Sat Apr 30 23:59:59 +0000 2022,['realmadrid'],realmadrid
3,wantan_ver2,RT @realmadrid: #RMFans x Cibeles x #CAMPEON35...,0,Sat Apr 30 23:59:56 +0000 2022,['realmadrid'],realmadrid
4,sergihio199,RT @RCDEFutbolBase: 20' | 2-1 | Gol de la SD E...,0,Sat Apr 30 16:53:35 +0000 2022,['RCDEFutbolBase'],RCDEFutbolBase

In [7]:
df.to_csv('dataset/all_tweets_with_rt.csv')

# Extracción de las aristas del grafo

In [8]:
df_edges = pd.DataFrame({"source": [], "target": [], "weight": []})

In [9]:
for index, row in df.iterrows():
    if row['retweet'] == None:
        username = row['username']
        mentions = literal_eval(row['mentions'])
        if len(mentions)>0:
            # Add every mention to df_edges
            for mention in mentions:
                users = sorted([
                    username,
                    mention
                ])

                new_row = {'source': users[0], 'target': users[1], 'weight':1}
                df_edges = df_edges.append(new_row, ignore_index=True)
    else:
        # Sort alphabetically to avoid duplicates
        users = sorted([
            row['username'],
            row['retweet']
        ])
        # Add to df_edges
        new_row = {'source': users[0], 'target': users[1], 'weight': 1}
        df_edges = df_edges.append(new_row, ignore_index=True)

In [10]:
# Sum by group to avoid duplicates
df_edges = df_edges.groupby(by=['source', 'target']).sum()

In [11]:
df_edges.head()

                         weight
source       target
AbdallahJR16 realmadrid     1.0
Davvonx      realmadrid     1.0
DonTxingurri OldRcd         1.0
JorgeAHB19   rnmjtv2        1.0
Juvenil1991  Tindef91       1.0

In [12]:
# Save as csv
df_edges.to_csv('dataset/dataset_edges.csv', header = False)